# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.eggs
*.egg-info
.installed.cfg
*.egg
.mypy_cache
.pytest_cache
.ruff_cache

# Virtual environments
venv
.venv
ENV

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
.coverage
htmlcov
.tox

# Documentation
docs/_build

# Local files
.env
*.log
*.pdf

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
